<ion-content>
    <div class="container">
            <ion-item  color="light" >
                    <ion-label style="color: rgb(226, 216, 216);font-size: 30px;">
                            Lista de Conversas
                    </ion-label>
                  </ion-item>
        <ion-item (click)="searchprofile()">
            <ion-avatar slot="start">
                <img src="/assets/img/iconperfil.png">
            </ion-avatar>
            <ion-label>
                descricao
            </ion-label>
        </ion-item>
        <ion-item (click)="searchprofile()">
            <ion-avatar slot="start">
                <img src="/assets/img/iconperfil.png">
            </ion-avatar>
            <ion-label>
                descricao2
            </ion-label>
        </ion-item>
        <ion-item (click)="searchprofile()">
            <ion-avatar slot="start">
                <img src="/assets/img/iconperfil.png">
            </ion-avatar>
            <ion-label>
                descricao3
            </ion-label>
        </ion-item>
    </div>
</ion-content>