<ion-content>
    <div class="container ion-text-center">
        <ion-title style="font-size: 25px; background: cornsilk;"><b>{{ 'Filters.title' | translate }}</b></ion-title>
        <ion-item class="ion-text-center">
            <ion-label>
                <h2>{{ 'SearchServices.relevance' | translate }}</h2>
                <ion-row style="font-size: 30px;">
                    <ion-col>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
    </div>
</ion-content>