<ion-header>
    <ion-toolbar color="primary">
        <img class="center" height="55" width="55" src="/assets/img/Logo.png">
        <b style="color: white;">
          <font size="5">PetUniverse</font>
        </b>
          <ion-buttons slot="end">
            <ion-button class="language" (click)="openlanguages($event)" slot="icon-only">
              <ion-icon name="globe"></ion-icon>
            </ion-button>
            <ion-button class="language"  (click)="notification($event)" slot="icon-only">
              <ion-icon name="notifications"></ion-icon>
              <ion-badge id="notifications-badge" color="danger">{{numberofnotification}}</ion-badge>
            </ion-button>
            <ion-button *ngIf="typeuser==1 ||typeuser==2" (click)="settings($event)" slot="icon-only">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
            <ion-button (click)="logout()" slot="icon-only">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>    
  </ion-header>
<ion-content>
   
  <ion-tabs >
      
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button *ngIf="typeuser!=3 " tab="home">
        <ion-icon name="paw"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button *ngIf="typeuser==1 || typeuser!=3" tab="favorites">
        <ion-icon name="heart"></ion-icon>
        <ion-label>{{ 'All.favorites' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button  *ngIf="typeuser!=3 " tab-selected  (click)="searchuser()">
        <ion-icon name="contact"></ion-icon>
        <ion-label>{{ 'All.Profile' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button  *ngIf="typeuser!=3 " tab="message">
        <ion-icon name="mail"></ion-icon>
        <ion-label>{{ 'All.messages' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button  *ngIf="typeuser==3 "tab="admin/overview-admin">
        <ion-icon name="stats"></ion-icon>
        <ion-label>{{ 'All.overview' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button  *ngIf="typeuser==3" tab="admin/listofuseradmin">
        <ion-icon name="people"></ion-icon>
        <ion-label>{{ 'All.listuser' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>