.header{
    background:#967a05;
    border-style: solid;
    border-width: 0.09cm;

}
ion-tab-bar{
    border-color: var(--ion-color-primary-shade) ;
    border-style: solid;
    border-width: 0.10cm;
}
ion-button {
    float: right;
    margin-top: 0.4cm;
    top: 30%;
 
}