ion-content{
    border-color: var(--ion-color-primary-shade) ;
    border-style: solid;
    border-width: 0.10cm;
}

ion-button {
    float: right;
    background-color: #182a43;;
    border-radius: 50%;
    height: 30px;
     width: 30px;
}

    ion-badge {
		background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
}