  
  p{
      margin-right:38px;
  }
  .buttoncalendar{
     margin-bottom: auto;
  }
  .buttonaccept{
    margin-bottom: -27px;
  }
  .buttonrefuse{
      margin-bottom: -27px;
  }
  ion-note{
    font-size: 20px;
  }
  .accepted{
    color: green;
  }
  .refuse{
    color: #f44a3d;
  }   
  .unlockmessage{
    ion-note{
      font-size: 17px;
      color: black;
    }
  }
  ion-row{
    height: -webkit-fill-available;
  }
  .rating{
    margin: auto;
  }



