<ion-content class="swiper-no-swiping">
    <div class="container">
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button checked value="profile">
                <ion-label>{{ 'Profile.myprofile' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="showuser == 1" value="animals">
                <ion-label>{{ 'Profile.myanimals' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="showuser == 2" value="animals">
                <ion-label>{{ 'Profile.services' | translate }}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">
                        <ion-grid >
                                <ion-row>
                                    <ion-col size="8" *ngIf="ispremium == false">
                                            <ion-label style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 26px;">{{ 'Profile.welcome' | translate }} <ion-icon name="happy"></ion-icon>
                                            </ion-label>
                                    </ion-col>
                                    <ion-col size="4" *ngIf="ispremium == false">
                                        <ion-button  color="Warning" style="background: yellowgreen;" (click)="presentAlertPrompt()" size="small">
                                                {{ 'Profile.premium.becomepremium' | translate }} <br>{{ 'Profile.premium.becomepremium2' | translate }}
                                        </ion-button>
                                        <ion-button *ngIf="showuser == 1"  color="Warning" style="background: #2094a2;" (click)="presentAlertPrompt()" size="small">
                                                Reservar<br> serviço
                                         </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                   <ion-title *ngIf="ispremium || showuser == 1 ">{{ 'Profile.welcome' | translate }} <ion-icon name="happy"></ion-icon></ion-title>
                    <div class="photoprofile" *ngIf="editimage == 'true'">
                            <img class="center ion-margin-top" *ngIf="alldatauser" [src]="alldatauser">
                        <ion-button *ngIf="showuser == 2" (click)="editdata(2)" slot="end" size="small">
                            <ion-label>{{ 'Profile.editphoto' | translate }}</ion-label>
                        </ion-button>
                    </div>
                    <ion-button *ngIf="editimage == 'false'" (click)="Canceledition(2)" size="small">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                    <div *ngIf="datauser.image =='' || editimage == 'false' ">
                        <img class="center ion-margin-top" *ngIf="alldatauser" [src]="alldatauser">
                        <ion-item>
                            <input id="uploadBtn" type="file" class="upload" (change)="uploadImage($event)" />
                        </ion-item>
                    </div>

                    <ion-item class="profile">

                        <ion-grid class="dataprofile" *ngFor="let user of datauser">
                            <ion-button *ngIf="editshow == 'true'" (click)="editdata(1)" size="small" color="tertiary">
                                <ion-icon name="create"></ion-icon>
                            </ion-button>
                            <ion-title *ngIf="editshow == 'false'">{{'Profile.editprofile'| translate}}</ion-title>
                            <ion-row class="placeholdercolor">
                                <ion-item>
                                    <ion-label><b>{{'Login.name'| translate}}: </b>
                                    </ion-label>
                                    <ion-input [(ngModel)]="userRegister.name" placeholder="{{ user.name }}"
                                        readonly="{{disabled}}"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label> <b>{{'Login.Gender'| translate}}:</b></ion-label>
                                    <ion-input [(ngModel)]="userRegister.gender" placeholder="{{ user.gender }}"
                                        readonly="{{disabled}}"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label><b>{{ 'UserRegister.location' | translate }}: </b> </ion-label>
                                    <ion-input [(ngModel)]="userRegister.location" placeholder="{{ user.location }}"
                                        readonly="{{disabled}}"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item *ngIf="showuser == 2">
                                    <ion-label><b>{{ 'UserRegister.car' | translate }}: </b></ion-label>
                                    <ion-input *ngIf="editshow == 'true'" [(ngModel)]="userRegister.car"
                                        placeholder="{{ user.car | translate }}" readonly="true">
                                    </ion-input>
                                    <ion-select *ngIf="editshow == 'false'" placeholder="{{ user.car | translate }}"
                                        interface="popover" [(ngModel)]="userRegister.car">
                                        <ion-select-option value="{{ 'Profile.Yes'}}">{{ 'Profile.Yes' | translate }}
                                        </ion-select-option>
                                        <ion-select-option value="{{ 'Profile.No'}}">{{ 'Profile.No' | translate }}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-row>
                            <ion-row *ngIf="showuser == 2">
                                <ion-item  style="height: auto;">
                                    <ion-textarea><b>{{ 'UserRegister.drivinglicense' | translate }}: </b>
                                        <ion-select *ngIf="editshow == 'false'"
                                            placeholder="{{ user.drivinglicense | translate }}" interface="popover"
                                            [(ngModel)]="userRegister.drivinglicense">
                                            <ion-select-option value="{{ 'Profile.Yes'}}">
                                                {{ 'Profile.Yes' | translate }}</ion-select-option>
                                            <ion-select-option value="{{ 'Profile.No'}}">{{ 'Profile.No' | translate }}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-textarea>
                                    <ion-input *ngIf="editshow == 'true'" [(ngModel)]="userRegister.drivinglicense"
                                        placeholder="{{ user.drivinglicense | translate }}" readonly="true">
                                    </ion-input>

                                </ion-item>
                            </ion-row>
                            <ion-row *ngIf="showuser == 2">
                                <ion-item style="height: auto;">
                                    <ion-textarea><b>{{ 'UserRegister.surface' | translate }}</b></ion-textarea>
                                    <ion-input [(ngModel)]="userRegister.surface" placeholder="{{ user.surface }} m2"
                                        readonly="{{disabled}}">
                                    </ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-item *ngIf="showuser == 2" style="height: auto;">
                                <ion-textarea><b>{{ 'UserRegister.garden' | translate }}: </b>
                                    <ion-select *ngIf="editshow == 'false'" placeholder="{{ user.garden | translate }}"
                                        interface="popover" [(ngModel)]="userRegister.garden">
                                        <ion-select-option value="{{ 'Profile.Yes'}}">
                                            {{ 'Profile.Yes' | translate }}</ion-select-option>
                                        <ion-select-option value="{{ 'Profile.No'}}">{{ 'Profile.No' | translate }}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-textarea>
                                <ion-input *ngIf="editshow == 'true'" [(ngModel)]="userRegister.garden"
                                    placeholder="{{ user.garden | translate }}" readonly="true">
                                </ion-input>

                            </ion-item>
                            <ion-row>
                                <ion-item style="height: auto;">
                                    <ion-textarea><b>{{ 'Login.BirthdayDate' | translate }}:</b>
                                        <ion-datetime *ngIf="editshow == 'false'"
                                            [(ngModel)]="userRegister.dateofbirthday" displayFormat="MM/DD/YYYY"
                                            placeholder="{{ user.dateofbirthday }}">
                                        </ion-datetime>
                                    </ion-textarea>
                                    <ion-input *ngIf="editshow == 'true'" [(ngModel)]="userRegister.dateofbirthday"
                                        placeholder="{{ user.dateofbirthday }}" readonly="{{disabled}}">
                                    </ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row *ngIf="showuser == 2">
                                <ion-item style="height: auto;">
                                    <ion-textarea><b>{{ 'UserRegister.experience' | translate }}: </b>
                                        <ion-select *ngIf="editshow == 'false'"
                                            placeholder="{{ user.experience }} {{ 'UserRegister.years' | translate }}"
                                            interface="alert" [(ngModel)]="userRegister.experience">
                                            <ion-select-option *ngFor="let item of experience" value="{{item}}">{{item}}
                                                {{ 'UserRegister.years' | translate }} </ion-select-option>
                                        </ion-select>
                                    </ion-textarea>
                                    <ion-input *ngIf="editshow == 'true'" [(ngModel)]="userRegister.experience"
                                        placeholder="{{ user.experience }} {{ 'UserRegister.years' | translate }}"
                                        readonly="{{disabled}}">
                                    </ion-input>

                                </ion-item>
                            </ion-row>
                            <div class="buttonedit" *ngIf="disabled == 'false'">
                                <ion-button color="danger" (click)="Canceledition(1)" size="small">
                                    {{ 'All.Cancel' | translate }}
                                </ion-button>
                                <ion-button (click)="Updateprofile()" size="small" color="success">
                                    {{ 'All.continue' | translate }}
                                </ion-button>
                            </div>
                        </ion-grid>
                    </ion-item>
                    <div  ion-padding>
                        <ion-card>
                            <ion-card-header tappable (click)="collapseCard = !collapseCard">
                                <ion-card-title *ngIf="showuser == 2">{{ 'Profile.Calendar.header' | translate }} <ion-icon
                                        name="arrow-round-up"></ion-icon>
                                </ion-card-title>
                                <ion-card-title *ngIf="showuser == 1">{{ 'Profile.Calendar.header2' | translate }} <ion-icon
                                    name="arrow-round-up"></ion-icon>
                            </ion-card-title>

                            </ion-card-header>
                            <ion-card-content *ngIf="!collapseCard">

                                <ion-item>
                                    <ion-input *ngIf="showuser == 2" type="text" placeholder="{{ 'Profile.Calendar.title' | translate }}"
                                        [(ngModel)]="event.title">
                                    </ion-input>
                                    <ion-select *ngIf="showuser == 1"
                                            placeholder="Escolher serviço"
                                            [(ngModel)]="requestservice.type">
                                            <ion-select-option *ngFor="let servi of typeservicefromuser" lines="none"
                                                value="{{servi}}">
                                                {{ servi}}
                                            </ion-select-option>
                                        </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{ 'Profile.Calendar.start' | translate }}</ion-label>
                                    <ion-datetime display="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
                                        [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{ 'Profile.Calendar.end' | translate }}</ion-label>
                                    <ion-datetime display="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
                                        [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
                                </ion-item>
                                <ion-button *ngIf="showuser == 2" fill="outline" expand="block" (click)="addEvent()"
                                    [disabled]="event.title == ''">{{ 'Profile.Calendar.buttonaddevent' | translate }}
                                </ion-button>
                                <ion-button  *ngIf="showuser == 1" fill="outline" expand="block" (click)="addrequestservice()"
                             >{{ 'Profile.Calendar.header2' | translate }}
                            </ion-button>
                            </ion-card-content>

                        </ion-card>
                        <div class="calendar">
                            <calendar style="background: blanchedalmond;" [eventSource]="eventSource"
                                [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
                                (onCurrentDateChanged)="onCurrentDateChanged($event)"
                                (onRangeChanged)="reloadSource(startTime, endTime)"
                                (onEventSelected)="onEventSelected($event)"
                                (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
                                step="30">
                            </calendar>
                        </div>

                    </div>

                    <div class="coments">
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-title style="font-size:20px; color:black">{{'Profile.Comment.title'| translate}}

                                <ion-textarea *ngIf="showuser == 1" [(ngModel)]="AddComment.content"
                                    placeholder="{{'Profile.Comment.label'| translate}}"> </ion-textarea>
                            </ion-title>

                        </ion-item>
                        <ion-button *ngIf="showuser == 1" class="ion-margin-top" (click)="addcomment()" color="medium">
                            {{'Profile.Comment.buttonadd'| translate}}
                        </ion-button>
                        <ion-item *ngFor="let comment of datacomment">
                            <ion-avatar slot="start">
                                <img src="/assets/img/iconperfil.png">
                            </ion-avatar>
                            <ion-label>
                                {{ comment.content }}
                                <ion-button class="ion-margin-top" (click)="deletecomment(comment.id)" size="small"
                                    shape="round" color="danger">
                                    <ion-icon name="close"></ion-icon>
                                </ion-button>
                            </ion-label>
                        </ion-item>
                    </div>
                </div>

            </ion-slide>

            <ion-slide>
                <div *ngIf="showuser == 1" class="slide-inner ion-padding">
                    <ion-title>{{ 'Profile.AddAnimal' | translate }}</ion-title>
                    <div *ngIf="showaddanimals == 0">
                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                            <ion-fab-button (click)="buttonaddanimal(1)">
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab><br>
                        <ion-item *ngFor="let animal of animals" class="detailsanimals">
                            <ion-avatar slot="start">
                                <img src="/assets/img/iconperfil.png">
                            </ion-avatar>
                            <ion-label style="color: black" class="ion-text-wrap"
                                style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                <h6><b style="color: #222428;">{{'Login.name'| translate}}:</b>
                                    {{ animal.name | translate}} &nbsp;
                                    <b style="color: #222428;">{{'Profile.Age2'| translate}}:</b> {{ animal.age}}
                                </h6>
                                <h6><b style="color: #222428;">{{ 'Profile.Size' | translate }}:</b>
                                    {{ animal.size | translate}}</h6>
                                <h6><b style="color: #222428;">{{ 'Profile.vaccinated' | translate }}:</b>
                                    {{ animal.vaccination | translate}}</h6>
                                <h6><b style="color: #222428;">{{ 'Profile.dewormed' | translate }}:</b>
                                    {{ animal.deworming | translate}}</h6>
                                <h6><b style="color: #222428;">{{'Profile.medication'| translate}}:</b>
                                    {{ animal.medication}}</h6>
                                <h6><b style="color: #222428;">{{ 'Profile.AnimalType' | translate }}:</b>
                                    {{ animal.type}}</h6>
                                <h6><b style="color: #222428;">{{'Profile.description'| translate}}:</b>
                                    {{ animal.description}}</h6>
                            </ion-label>

                        </ion-item>
                    </div>

                    <div class="addanimals" *ngIf="showaddanimals == 1">
                        <ion-button class="ion-margin-top" (click)="buttonaddanimal(0)" size="default" color="medium">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.name"
                                placeholder="{{'Login.name'| translate}}"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.age"
                                placeholder="{{'Profile.Age1'| translate}}"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.Size' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="popover" [(ngModel)]="AnimalsRegister.size">
                                <ion-select-option *ngFor="let item of sizeanimals" lines="none" value="{{item}}">
                                    {{ item | translate}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.AnimalType' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="alert" [(ngModel)]="AnimalsRegister.type">
                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">
                                    {{ item | translate}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.Breed' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="popover" [(ngModel)]="AnimalsRegister.breed">
                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">{{item}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-list>
                            <ion-radio-group lines="none" [(ngModel)]="AnimalsRegister.vaccination">
                                <ion-list-header>
                                    <ion-label
                                        style="font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                        {{ 'Profile.vaccinated' | translate }}?</ion-label>
                                </ion-list-header>

                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.Yes' | translate }}</ion-label>
                                    <ion-radio lines="none" slot="start" value="{{ 'Profile.Yes' }}" checked>
                                    </ion-radio>
                                </ion-item>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.No' | translate }}</ion-label>
                                    <ion-radio lines="none" slot="start" value="{{ 'Profile.No' }}">
                                    </ion-radio>
                                </ion-item>
                            </ion-radio-group>
                            <ion-radio-group [(ngModel)]="AnimalsRegister.deworming">
                                <ion-list-header>
                                    <ion-label
                                        style="font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                        {{ 'Profile.dewormed' | translate }}?</ion-label>
                                </ion-list-header>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.Yes' | translate }}</ion-label>
                                    <ion-radio slot="start" value="{{ 'Profile.Yes'}}" checked></ion-radio>
                                </ion-item>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.No' | translate }}</ion-label>
                                    <ion-radio slot="start" value="{{ 'Profile.No' }}"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>

                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.photo" placeholder="Imagens">
                            </ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-textarea [(ngModel)]="AnimalsRegister.medication"
                                placeholder="{{'Profile.medication'| translate}}"></ion-textarea>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-textarea [(ngModel)]="AnimalsRegister.description"
                                placeholder="{{'Profile.description'| translate}}"></ion-textarea>
                        </ion-item>
                        <ion-button class="ion-margin-top" (click)="buttonaddanimal(0)" color="medium">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>
                        <ion-button class="ion-margin-top" (click)="addanimal()" color="medium">
                            {{ 'Profile.AddAnimal' | translate }}
                        </ion-button>

                    </div>

                </div>

                <div *ngIf="showuser == 2" class="slide-inner ion-padding">
                    <ion-title>{{ 'Profile.services' | translate }}</ion-title>
                    <div *ngIf="showaddanimals == 0">
                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                            <ion-fab-button (click)="buttonaddanimal(1)">
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab><br>
                        <ion-grid *ngFor="let service of servicesPet" class="detailservice">
                            <div align="right">
                                <ion-button *ngIf="enableeditservice=='true' " class="ion-margin-top"
                                    (click)="deleteservice(service.id)" size="small" shape="round" color="danger">
                                    <ion-icon name="close"></ion-icon>
                                </ion-button>
                                <ion-button *ngIf="enableeditservice=='true'" class="ion-margin-top"
                                    (click)="editdata(3)" size="small" shape="round" color="dark">
                                    <ion-icon name="create"></ion-icon>
                                </ion-button>

                            </div>
                            <ion-title *ngIf="enableeditservice=='false' ">
                                {{ 'Profile.Service.editservice' | translate }}</ion-title>
                            <ion-row>
                                <ion-item>
                                    <ion-label>{{ 'Profile.typeservice' | translate }}:
                                    </ion-label>
                                    <div *ngIf="enableeditservice=='false'" align="right">
                                        <ion-select style="color: black;"
                                            placeholder="{{ service.typeservice | translate}}"
                                            [(ngModel)]="Services.typeservice">
                                            <ion-select-option *ngFor="let servi of typeservices" lines="none"
                                                value="{{servi}}">
                                                {{ servi}}
                                            </ion-select-option>
                                        </ion-select>
                                    </div>
                                    <ion-label align="right" style="color: black;" *ngIf="enableeditservice=='true'">
                                        {{ service.typeservice | translate}}</ion-label>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-textarea style="color: white;text-align: start;">
                                        {{ 'Profile.AnimalTypeservices' | translate }}:
                                        <div *ngIf="enableeditservice=='false'">
                                            <ion-select style="color: black;" placeholder="Animals" multiple="true"
                                                interface="alert" [(ngModel)]="Services.typeanimals">
                                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">
                                                    {{ item | translate}}
                                                </ion-select-option>
                                            </ion-select>
                                        </div>
                                        <div *ngIf="enableeditservice=='true'">
                                            <ion-label style="color: black;" *ngFor="let item of service.typeanimals">
                                                {{ item | translate}}</ion-label>
                                        </div>

                                    </ion-textarea>

                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label>{{'SearchServices.price'| translate}}:

                                    </ion-label>

                                    <div *ngIf="enableeditservice=='false'">
                                        <ion-input type="number" [(ngModel)]="Services.price"
                                            placeholder="{{ service.price}}"></ion-input>
                                        <ion-select size="small" placeholder="{{ service.typemoney}}"
                                            [(ngModel)]="Services.typemoney">
                                            <ion-select-option value="euro">Euro</ion-select-option>
                                            <ion-select-option value="dolar">Dolar</ion-select-option>
                                        </ion-select>
                                    </div>
                                    <ion-label align="right" style="color: black;" *ngIf="enableeditservice=='true'">
                                        {{ service.price}} {{ service.typemoney}}</ion-label>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label>{{'UserRegister.location'| translate}}:
                                    </ion-label>
                                    <ion-input *ngIf="enableeditservice=='false'" type="text"
                                        [(ngModel)]="Services.location" placeholder="{{ service.location | translate}}">
                                    </ion-input>
                                    <ion-label style="color: black;" align="right" *ngIf="enableeditservice=='true'">
                                        {{ service.location | translate}}
                                    </ion-label>
                                </ion-item>
                            </ion-row>
                            <ion-row *ngIf="service.typeservice=='Pet Care'">
                                <ion-item>
                                    <p style="color: white;">{{'Profile.caregiven'| translate}}:

                                        <ion-textarea *ngIf="enableeditservice=='false'" type="text"
                                            [(ngModel)]="Services.descriptioncare"
                                            placeholder="{{ service.descriptioncare | translate}}">
                                        </ion-textarea>
                                        <ion-label *ngIf="enableeditservice=='true'" style="color: black;">
                                            {{ service.descriptioncare | translate}}
                                        </ion-label>
                                    </p>

                                </ion-item>
                            </ion-row>
                            <div class="buttonedit" *ngIf="enableeditservice=='false'">
                                <ion-button color="danger" (click)="Canceledition(3)" size="small">
                                    {{ 'All.Cancel' | translate }}
                                </ion-button>
                                <ion-button (click)="editservice(service.id)" size="small" color="success">
                                    {{ 'All.continue' | translate }}
                                </ion-button>
                            </div>
                        </ion-grid>

                    </div>

                    <div class="addservice" *ngIf="showaddanimals == 1">
                        <ion-title>{{ 'Profile.addservice' | translate }}</ion-title>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.typeservice' | translate }}</ion-label>
                            <ion-select placeholder="Select" [(ngModel)]="Services.typeservice">
                                <ion-select-option *ngFor="let servi of typeservices" lines="none" value="{{servi}}">
                                    {{ servi}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.AnimalType' | translate }}</ion-label>
                            <ion-select placeholder="Select" multiple="true" interface="alert"
                                [(ngModel)]="Services.typeanimals">
                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">
                                    {{ item | translate}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{'SearchServices.price'| translate}}:</ion-label>
                            <ion-input type="number" [(ngModel)]="Services.price"
                                placeholder="{{'SearchServices.price'| translate}}"></ion-input>
                            <ion-select placeholder="Select" [(ngModel)]="Services.typemoney">
                                <ion-select-option value="euro">Euro</ion-select-option>
                                <ion-select-option value="dolar">Dolar</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{'UserRegister.location'| translate}}:</ion-label>
                            <ion-input type="text" [(ngModel)]="Services.location"
                                placeholder="{{'UserRegister.location'| translate}}"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="Services.typeservice=='Pet Care'" class="ion-margin-top" lines="none">
                            <ion-label>{{'Profile.caregiven'| translate}}:</ion-label>
                            <ion-textarea type="text" [(ngModel)]="Services.descriptioncare" placeholder="...">
                            </ion-textarea>
                        </ion-item>
                        <ion-button class="ion-margin-top" (click)="buttonaddanimal(0)" color="medium">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>
                        <ion-button class="ion-margin-top" (click)="addservice()" color="medium">
                            {{ 'All.add' | translate }}
                        </ion-button>

                    </div>

                </div>

            </ion-slide>
        </ion-slides>
    </div>
</ion-content>