.container{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:34%;
        border-radius: 21%;
        border-style: solid;
        border-color: unset;
        border-width: thick;
        margin-bottom: 10px;;
    }

}

ion-segment{
    background:#e2a75b;

}
.monthview-container{
    background: olive;
}
ion-slides{
    .slide-inner{
        width: 100%;
        .detailsanimals{
            background: #d1b953;;
            border-radius: 10px;
            border-style: solid;
            border-color: black;
            margin-top: 5%;
        }
        .detailservice{
            background: #4ca53f;;
            border-radius: 10px;
            border-style: solid;
            border-color: black;
            margin-top: 5%;
     
            ion-item{
                margin-top: 2%;
                width: 100%;

                ion-label{
                    color: white;
                }
            }
        }
 
        .profile{
            color: #fff;
            background: #589150;
            border-radius: 10px;
            border-style: solid;
            border-color: black;

            ion-title{
                text-align: center;
                color:black;
            }
        

            .dataprofile{
                ion-item{
                    left: 0;
                    right: 0;
                    width: 243px;
                    height: 35px;
                    background: #add9a6;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: black;
                    margin-top: 5%;

                     ion-textarea{
                         height: 50px;
                      }
                      ion-select{
                        place-self: baseline;
                      }
                    ion-input{
                        margin-top: -8px;
                        color: #121511;
                        font-size: 16px;
                        font-weight: bold;
            
                    }
               
                }
                .buttonedit{
                    text-align: center;
                    margin-top: 4%;
                }
            
            }
        }
        .coments{
            color: #fff;
            background: #cccccc;
            border-radius: 10px;
            border-style: solid;
            border-color: black;
            margin-top: 10px;
            ion-textarea{
                background: #c5c3c3;
                border-radius: 10px;
                border-style: solid;
                bottom: 5px;
                font-size: 15px;
            }

        }
        ion-item {
            --background: rgba(255,255,255,0.2);
            --border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
        
            ion-label{
                color: black;
            }
        } 
        
    }
    .addanimals{
        color: #fff;
        background: #0993a2;
        border-radius: 10px;
        border-style: solid;
        border-color: black;

        ion-list{
            color: #fff;
            background: #0993a2;
            
        }
 
    }
    .addservice{
        color: #480f0f;
        background: #ac4a4a;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        margin-top: 5%;
    }
    
}
ion-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}

ion-select {
    max-width: 100% !important;
  }

  ion-card{
      background: oldlace;
  }
  .calendar{
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background: #405a86;
    
  }
  

