<ion-content class="swiper-no-swiping">
    <div class="container">
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button checked value="profile">
                <ion-label>{{ 'Profile.myprofile' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="animals">
                <ion-label>{{ 'Profile.myanimals' | translate }}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">
                    <img class="center ion-margin-top" lines="none" src="/assets/img/iconperfil.png"><br>
                    <ion-item class="profile">
                        <ion-label style="color: black" class="ion-text-wrap"
                            style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <h6><b style="color: #16275d;">Nome:</b>klp</h6>
                            <h6><b style="color: #16275d;">Sexo:</b>bvc</h6>
                        </ion-label>
                    </ion-item>
                </div>
                
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">
                    <ion-title>{{ 'Profile.AddAnimal' | translate }}</ion-title>
                    <div  *ngIf="showaddanimals == 0">
                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                            <ion-fab-button (click)="buttonadd(1)">
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab><br>
                            <ion-item *ngFor="let animal of animals" class="detailsanimals">
                                <ion-avatar slot="start">
                                    <img src="/assets/img/iconperfil.png">
                                </ion-avatar>
                                <ion-label style="color: black" class="ion-text-wrap"
                                    style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                    <h6><b style="color: #222428;">{{'Login.name'| translate}}:</b>
                                        {{ animal.name | translate}} &nbsp;
                                        <b style="color: #222428;">{{'Profile.Age2'| translate}}:</b> {{ animal.age}}
                                    </h6>
                                    <h6><b style="color: #222428;">{{ 'Profile.Size' | translate }}:</b>
                                        {{ animal.size | translate}}</h6>
                                    <h6><b style="color: #222428;">{{ 'Profile.vaccinated' | translate }}:</b>
                                        {{ animal.vaccination}}</h6>
                                    <h6><b style="color: #222428;">{{ 'Profile.dewormed' | translate }}:</b>
                                        {{ animal.deworming}}</h6>
                                    <h6><b style="color: #222428;">{{'Profile.medication'| translate}}:</b>
                                        {{ animal.medication}}</h6>
                                    <h6><b style="color: #222428;">{{ 'Profile.AnimalType' | translate }}:</b>
                                        {{ animal.type}}</h6>
                                    <h6><b style="color: #222428;">{{'Profile.description'| translate}}:</b>
                                        {{ animal.description}}</h6>
                                </ion-label>

                            </ion-item>
                    </div>

                    <div class="addanimals" *ngIf="showaddanimals == 1">
                        <ion-button class="ion-margin-top" (click)="buttonadd(0)" size="default" color="medium">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.name"
                                placeholder="{{'Login.name'| translate}}"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.age"
                                placeholder="{{'Profile.Age1'| translate}}"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.Size' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="popover" [(ngModel)]="AnimalsRegister.size">
                                <ion-select-option *ngFor="let item of sizeanimals" lines="none" value="{{item}}">
                                    {{ item | translate}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.AnimalType' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="alert" [(ngModel)]="AnimalsRegister.type">
                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">
                                    {{ item | translate}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-label>{{ 'Profile.Breed' | translate }}</ion-label>
                            <ion-select placeholder="Select" interface="popover" [(ngModel)]="AnimalsRegister.breed">
                                <ion-select-option *ngFor="let item of typeanimals" value="{{item}}">{{item}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-list>
                            <ion-radio-group lines="none" [(ngModel)]="AnimalsRegister.vaccination">
                                <ion-list-header>
                                    <ion-label
                                        style="font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                        {{ 'Profile.vaccinated' | translate }}?</ion-label>
                                </ion-list-header>

                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.Yes' | translate }}</ion-label>
                                    <ion-radio lines="none" slot="start" value="{{ 'Profile.Yes' | translate }}"
                                        checked></ion-radio>
                                </ion-item>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.No' | translate }}</ion-label>
                                    <ion-radio lines="none" slot="start" value="{{ 'Profile.No' | translate }}">
                                    </ion-radio>
                                </ion-item>
                            </ion-radio-group>
                            <ion-radio-group [(ngModel)]="AnimalsRegister.deworming">
                                <ion-list-header>
                                    <ion-label
                                        style="font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                        {{ 'Profile.dewormed' | translate }}?</ion-label>
                                </ion-list-header>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.Yes' | translate }}</ion-label>
                                    <ion-radio slot="start" value="{{ 'Profile.Yes' | translate }}" checked></ion-radio>
                                </ion-item>
                                <ion-item class="ion-margin-top" lines="none">
                                    <ion-label>{{ 'Profile.No' | translate }}</ion-label>
                                    <ion-radio slot="start" value="{{ 'Profile.No' | translate }}"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>

                        <ion-item class="ion-margin-top" lines="none">
                            <ion-input type="text" [(ngModel)]="AnimalsRegister.photo" placeholder="Imagens">
                            </ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-textarea [(ngModel)]="AnimalsRegister.medication"
                                placeholder="{{'Profile.medication'| translate}}"></ion-textarea>
                        </ion-item>
                        <ion-item class="ion-margin-top" lines="none">
                            <ion-textarea [(ngModel)]="AnimalsRegister.description"
                                placeholder="{{'Profile.description'| translate}}"></ion-textarea>
                        </ion-item>
                        <ion-button class="ion-margin-top" (click)="buttonadd(0)" color="medium">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>
                        <ion-button class="ion-margin-top" (click)="addanimal()" color="medium">
                            {{ 'Profile.AddAnimal' | translate }}
                        </ion-button>

                    </div>

                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>