.container{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    ;
}
ion-item{
      
    ion-label{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
}

