.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    top:2%;
    margin: 0 auto;
    z-index: 2;

}
    
ion-title{
    left: -1;
    right: 0;
}

.sc-ion-card-md-s img {
        margin-left: 5%;
        margin-top: 3%;
        max-width:20%;
    }
