<ion-content>
        <div class="container">
                <ion-title class="ion-text-center" color="dark">{{ 'Home.Question' | translate }}</ion-title>
                <ion-card color="tertiary">
                        <img src="assets/img/petwalking.png" />
                        <ion-card-content>
                                <ion-card-title style="color:black;">
                                        Pet Walking
                                </ion-card-title>
                                <p> {{ 'Home.PetWalking' | translate }}</p>
                        </ion-card-content>
                        <ion-row ion-no-padding>
                                <ion-col ion-text-right>
                                        <ion-button (click)="searchServices()" tab="services" color="danger" icon-start>
                                                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                                        </ion-button>
                                </ion-col>
                        </ion-row>
                </ion-card>

                <ion-card color="warning">
                        <img src="assets/img/petCare.png" />
                        <ion-card-content>
                                <ion-card-title style="color:black;">
                                        Pet Care
                                </ion-card-title>
                                <p>{{ 'Home.PetCare' | translate }}</p>

                        </ion-card-content>
                        <ion-row ion-no-padding>
                                <ion-col ion-text-right>
                                        <ion-button (click)="searchServices()" tab="services" color="danger" icon-start>
                                                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                                        </ion-button>
                                </ion-col>
                        </ion-row>

                </ion-card>
                <ion-card color="medium">
                        <img class="center" src="assets/img/petSitting.png" />
                        <ion-card-content>
                                <ion-card-title style="color:black;">
                                        Pet Sitting
                                </ion-card-title>
                                <p>{{ 'Home.PetSitting' | translate }}</p>
                        </ion-card-content>
                        <ion-row ion-no-padding>
                                <ion-col ion-text-right>
                                        <ion-button (click)="searchServices()" tab="services" color="danger" icon-start>
                                                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                                        </ion-button>
                                </ion-col>
                        </ion-row>
                </ion-card>
        </div>
</ion-content>