<ion-content>
  <div class="container">
      <ion-title style="font-size: 25px; background: cornsilk;"><b>{{ 'SearchServices.title' | translate }}</b></ion-title>
      <ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="option">
            <ion-segment-button value="relevance" >
                <ion-icon name="ribbon"></ion-icon>
                <ion-label >{{ 'SearchServices.relevance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="distance" >
                <ion-icon name="contacts"></ion-icon>
                <ion-label>{{ 'SearchServices.distance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="price">
                <ion-icon name="cash"></ion-icon>
                <ion-label>{{ 'SearchServices.price' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="map">
                <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
  
        <div [ngSwitch]="option">
            <ion-list *ngSwitchCase="'relevance'">
                <ion-item (click)="searchprofile()">
                    <ion-avatar slot="start">
                      <img src="/assets/img/iconperfil.png">
                    </ion-avatar>
                    <ion-label>
                      Avatar Start, Button Item
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="searchprofile()">
                      <ion-avatar slot="start">
                        <img src="/assets/img/petCare.png">
                      </ion-avatar>
                      <ion-label>
                        Avatar Start, Button Item
                      </ion-label>
                    </ion-item>
            </ion-list>
            <ion-list *ngSwitchCase="'distance'">
                <ion-item (click)="searchprofile()">
                    <ion-avatar slot="start">
                      <img src="/assets/img/petSitting.png">
                    </ion-avatar>
                    <ion-label>
                      Avatar Start, Button Item
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="searchprofile()">
                      <ion-avatar slot="start">
                        <img src="/assets/img/petwalking.png">
                      </ion-avatar>
                      <ion-label>
                        Avatar Start, Button Item
                      </ion-label>
                    </ion-item>
              </ion-list>
              <ion-list *ngSwitchCase="'price'">
                  <ion-item>
                      <ion-item (click)="searchprofile()">
                          <ion-avatar slot="start">
                            <img src="/assets/img/flags/pt.png">
                          </ion-avatar>
                          <ion-label>
                            Avatar Start, Button Item
                          </ion-label>
                        </ion-item>
                  </ion-item>
                </ion-list>
                 <div [hidden]="option!='map'" #map id="map"></div>
        </div>
       
    </div>

  


</ion-content>