<ion-content>
  <div class="container">
      <ion-title style="font-size: 25px; background: cornsilk;"><b>{{ 'SearchServices.title' | translate }}</b></ion-title>
      <ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="option">
            <ion-segment-button value="relevance" >
                <ion-icon name="ribbon"></ion-icon>
                <ion-label >{{ 'SearchServices.relevance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="distance" >
                <ion-icon name="contacts"></ion-icon>
                <ion-label>{{ 'SearchServices.distance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="price">
                <ion-icon name="cash"></ion-icon>
                <ion-label>{{ 'SearchServices.price' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="map"  (ionSelect)="initializeMap()">
                <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
  
        <div [ngSwitch]="option">
         
              <ion-list *ngSwitchCase="'relevance'" >
                  <div  *ngFor="let users of alluser">
                  <ion-item color="Warning"(click)="searchprofile(users.id)"  *ngIf="users.premium == true " >
                      <ion-avatar slot="start">
                          <img  class="center ion-margin-top" [src]="users.image">
                      </ion-avatar>
                      <ion-label>
                          <h2>{{'Login.name'| translate}}: {{ users.name}}</h2>
                          <h3>{{ 'UserRegister.experience' | translate }}:{{ users.experience}}</h3>
                          <h3>{{ 'UserRegister.location' | translate }}: {{ users.location}}</h3>
                      </ion-label>
                    </ion-item>
                  </div>
              </ion-list>
          
         
                <ion-list *ngSwitchCase="'distance'">
                    <div *ngFor="let users of alluser">
                    <ion-item color="Warning" (click)="searchprofile()" *ngIf="users.location == 'Braga' ">
                        <ion-avatar slot="start">
                            <img  class="center ion-margin-top" [src]="users.image">
                        </ion-avatar>
                        <ion-label>
                            <h2>{{'Login.name'| translate}}: {{ users.name}}</h2>
                            <h3>{{ 'UserRegister.experience' | translate }}:{{ users.experience}}</h3>
                            <h3>{{ 'UserRegister.location' | translate }}: {{ users.location}}</h3>
                        </ion-label>
                      </ion-item>
                      </div>
                  </ion-list>
           
         
              <ion-list *ngSwitchCase="'price'">
                  <div *ngFor="let users of alluser">
                      <ion-item (click)="searchprofile()">
                          <ion-avatar slot="start">
                            <img src="/assets/img/flags/pt.png">
                          </ion-avatar>
                          <ion-label>
                            Avatar Start, Button Item
                          </ion-label>
                        </ion-item>
                      </div>
                </ion-list>
                 <div [hidden]="option!='map'" #map id="map"></div>
        </div>
       
    </div>

  


</ion-content>