.container{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 4;
    height: 100%;
    ;

    ion-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    ion-segment{
        width: 100%;
        ion-segment-button{
        width: 2%;
    }
    ion-label{
        font-size: 10px;;
    }

    }

    div{
        height: 100%;
        }
    #map {
        height: 100%;
    }
    ion-list{
        ion-item{
            background: #d8ddf7;
            margin-left: 8px;
            margin-right: 8px;
            border-radius: 4%;
            border-style: solid;
            height: 103px;

            ion-label{
                h2{
                    color: #192567;
                }
            }
        }

    }
    
}




