<ion-content>
  <div class="container">
    <div style="background: #b69354;">
            <ion-button class="ion-margin-top" (click)="goback()" size="small" color="danger">
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-button>&nbsp;&nbsp;
            <ion-label style="font-size: 25px; ">   <b>{{ 'SearchServices.title' | translate }}</b></ion-label>     
    </div>
      <ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="option">
            <ion-segment-button value="relevance" >
                <ion-icon name="ribbon"></ion-icon>
                <ion-label >{{ 'SearchServices.relevance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="distance" >
                <ion-icon name="contacts"></ion-icon>
                <ion-label>{{ 'SearchServices.distance' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="price">
                <ion-icon name="cash"></ion-icon>
                <ion-label>{{ 'SearchServices.price' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="map">
                <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        <div class="ion-text-right">
        <ion-button color="primary" (click)="openFilters()" style="padding-right: 10px;">
            <ion-icon name="ios-funnel" slot="icon-only"></ion-icon>
        </ion-button>
        </div>
        <div [ngSwitch]="option">
         
              <ion-list *ngSwitchCase="'relevance'" >
                  <div  *ngFor="let users of alluser">
                  <ion-item color="Warning"(click)="searchprofile(users.id)"  *ngIf="users.premium == true " >
                      <ion-avatar slot="start">
                          <img  class="center ion-margin-top" [src]="users.image">
                      </ion-avatar>
                      <ion-label>
                          <h2>{{'Login.name'| translate}}: {{ users.name}}</h2>
                          <h3>{{ 'UserRegister.experience' | translate }}:{{ users.experience}}</h3>
                          <h3>{{ 'UserRegister.location' | translate }}: {{ users.location}}</h3>
                      </ion-label>
                    </ion-item>
                  </div>
              </ion-list>
          
         
                <ion-list *ngSwitchCase="'distance'">
                    <div *ngFor="let users of alluser">
                    <ion-item color="Warning" (click)="searchprofile()" *ngIf="users.location == 'Braga' ">
                        <ion-avatar slot="start">
                            <img  class="center ion-margin-top" [src]="users.image">
                        </ion-avatar>
                        <ion-label>
                            <h2>{{'Login.name'| translate}}: {{ users.name}}</h2>
                            <h3>{{ 'UserRegister.experience' | translate }}:{{ users.experience}}</h3>
                            <h3>{{ 'UserRegister.location' | translate }}: {{ users.location}}</h3>
                        </ion-label>
                      </ion-item>
                      </div>
                  </ion-list>
           
         
              <ion-list *ngSwitchCase="'price'">
                  <div *ngFor="let users of alluser">
                      <ion-item (click)="searchprofile()">
                          <ion-avatar slot="start">
                            <img src="/assets/img/flags/pt.png">
                          </ion-avatar>
                          <ion-label>
                            Avatar Start, Button Item
                          </ion-label>
                        </ion-item>
                      </div>
                </ion-list>
          
    <div >
        <ion-list *ngSwitchCase="'map'">
            <ion-item>
             Inserir mapa aqui
            </ion-item>
          </ion-list>
    </div>
            
        </div>
    </div>


</ion-content>